body {
  background: linear-gradient(180deg, #120024, #1e1e2e);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: #ffffff;
}

.game {
  width: 320px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;

  /* cenário */
  background:
    repeating-linear-gradient(
      90deg,
      #2a2a40 0 32px,
      #24243a 32px 64px
    );
  box-shadow: 0 0 25px rgba(123, 44, 191, 0.6);
}

#player {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 136px;
  top: 176px;

  background-image: url("assets/llama.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.info {
  margin-top: 12px;
  opacity: 0.8;
}
