* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f1020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: #fff;
}

/* área visível do jogo */
.viewport {
  width: 360px;
  height: 420px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(150, 80, 255, 0.6);
  position: relative;
}

/* mapa grande */
#map {
  position: absolute;
  width: 960px;
  height: 960px;
  background-image: url("assets/mapa.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

/* personagem */
#player {
  position: absolute;
  width: 48px;
  height: 48px;

  background-image: url("assets/llama.png");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.info {
  margin-top: 12px;
  opacity: 0.8;
}

.info {
  margin-top: 12px;
  opacity: 0.8;
}
