* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f1020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: white;
}

/* visor do jogo */
.viewport {
  width: 360px;
  height: 420px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(160, 90, 255, 0.6);
  position: relative;
}

/* mapa (tamanho real da imagem) */
#map {
  position: absolute;
  background-image: url("assets/mapa.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

/* personagem (spritesheet 4 frames horizontais) */
#player {
  width: 48px;
  height: 48px;
  position: absolute;

  background-image: url("assets/llama.png");
  background-repeat: no-repeat;

  /* 4 frames x 48px */
  background-size: 192px 48px;

  image-rendering: pixelated;
}

.info {
  margin-top: 12px;
  opacity: 0.85;
}
